.wrap {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 5000px;
  .container {
    height: 80%;
    width: 80%;

    .win98 {
      height: 100%;
      .window {
        height: 100%;
        width: 100%;
      }
    }
  }
}
